@using Kutuphane.Models.Entity
@model List<TBLMESAJLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPanel.cshtml";
}
<br />
<h2>Gelen Mesajlar</h2>

<table class="table table-bordered">
    <tr>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Mesaj</th>
        <th>Işlem</th>
    </tr>
    @foreach(var x in Model)
            {
               <tr>
                   <td>@x.GONDEREN</td>
                   <td>@x.KONU</td>
                   <td>@x.ICERIK</td>
                   <td>@x.TARIH</td>
               </tr>
            }
</table>
