@model Kutuphane.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<form method="post" style="margin-left:15px" class="form-group">
    <label>Kategori Adı</label>
    <input type="text" name="AD" class="form-control"  />
    <br />
    <div><button class="btn btn-info" id="Btn1">Kategori Kaydet</button></div>

</form>


